Source: aul-1
Section: devel
Priority: extra
Maintainer: Jayoun Lee <airjany@samsung.com>, Sewook Park <sewook7.park@samsung.com>, Jaeho Lee <jaeho81.lee@samsung.com>, Yoonkyong Lee <yk6629.lee@samsung.com>, Youmin Ha <youmin.ha@samsung.com>, Kunhoon Baik <knhoon.baik@samsung.com>
Build-Depends: debhelper (>= 5), libdbus-glib-1-dev, libsqlite3-dev, libx11-dev, libecore-dev, libbundle-dev, libail-0-dev, dlog-dev, libxdgmime-dev, libprivilege-control-dev, sqlite3, libapp-checker-dev, libapp-checker-server-dev, librua-dev, libslp-utilx-dev, libecore-dev, libecore-x, libevas-dev
Standards-Version: 0.1.0 

Package: libaul-1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sqlite3
Description: libaul-1 package

Package: libaul-1-dev
Section: libs
Architecture: any
Depends: libaul-1 (= ${Source-Version}), libdbus-glib-1-dev, libsqlite3-dev, libbundle-dev, libail-0-dev, dlog-dev, libxdgmime-dev, sqlite3
Description: libaul-1 dev package

Package: libaul-1-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libaul-1 (= ${Source-Version})
Description: libaul-1 dbg package 

Package: libaul-1-executable
Section: libs
Architecture: any
Depends: libaul-1 (= ${Source-Version}), ${shlibs:Depends}, ${misc:Depends} 
Description: libaul-1 executable package (aul_daemon(launchpad), aul_test)

