#
# classical example of a socket activated service?
#

[Unit]
Description=Start the Access Control server

[Service]
ExecStart=/usr/bin/amd

OOMScoreAdjust=-100

[Install]
WantedBy=graphical.target
