#
#  Systemd script to Launch AMD
#

[Unit]
Description=Start the Access Control server

[Service]
EnvironmentFile=-/etc/sysconfig/prelaunch
# ecore_x_init depends on DISPLAY to open X connection
Environment=DISPLAY=:0
ExecStart=/usr/bin/amd

OOMScoreAdjust=-100

[Install]
WantedBy=graphical.target
