#
# Systemd script to Launch AMD
#

[Unit]
Description=Start the Access Control server

[Service]
ExecStart=/usr/bin/amd

[Install]
WantedBy=tizen-middleware.target
