[Unit]
Description=Initialize service for aul
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p -Z User::Home -m go+w /run/aul

[Install]
WantedBy=sysinit.target
